<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title class="config:app-title">Blumenbach TEI Datenbank</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/schädel.png"/>
        <link rel="stylesheet" type="text/css" href="resources/css/font/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/ui.fancytree.min.css"/>
        <script type="text/javascript" src="resources/scripts/jquery/jquery-1.11.2.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery/jquery-ui.min.js"/>
        <script type="text/javascript" src="resources/scripts/vis/utils.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="resources/scripts/vis/vis.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/vis/vis.css"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/vis/vis-style.css"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">Blumenbach TEI Datenbank</a>
                    </div>
                </div>
                <div data-template="templates:include" data-template-path="templates/navbar.html"/>
                <div id="main" class="package"/>
                <div class="col-md-12" id="footer">
                    <div id="copyright">
                        <ul>
                            <li>
                                <a href="http://adw-goe.de/startseite/">Akademie der Wissenschaften zu Göttingen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="resources/scripts/vis/json-graph.js"/>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.form-group[data-toggle="tooltip"]').tooltip({container: 'body'});
            });
        </script>
    </body>
</html>