<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title class="config:app-title">Blumenbach TEI Datenbank</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta class="config:app-meta"/>
        <link class="config:xqdoc-styles"/>
        <script class="config:app-scripts"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/ace.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-javascript.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-text.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xquery.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-java.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-css.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xml.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/theme-clouds.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/highlight.js"/>
        <script type="text/javascript" src="resources/scripts/query.js"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">Blumenbach TEI Datenbank</a>
                    </div>
                </div>
                <div data-template="templates:include" data-template-path="templates/navbar.html"/>
                    <div id="main" class="package"/>
                
                <div class="col-md-12" id="footer">
                    <div id="copyright">
                        <ul>
                            <li>
                                <a href="http://adw-goe.de/startseite/">Akademie der Wissenschaften zu Göttingen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>